@layer resets, theme, layout, components, utilities;
@import url("./resets.css") layer(resets);
@import url("@workos-inc/widgets/base.css") layer(resets);
@import url("@radix-ui/themes/styles.css") layer(theme);

@layer theme {
  :root {
    --font-family-root: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    --border-color: #ddd;
  }
}

@layer layout {
  html,
  body,
  div:where(#root) {
    height: 100%;
  }

  div:where(#root) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .layout {
    padding: var(--space-4);
  }

  .header {
    display: flex;
    inline-size: 100%;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
    padding-block-end: 1rem;
    margin-block-end: 1rem;
    border-block-end: 1px solid var(--border-color);

    h1 {
      display: flex;
      flex: 1 1 auto;
      gap: 0.5rem;
      align-items: center;
    }
  }

  .main {
    inline-size: 100%;
    flex: 1 1 100%;
  }
}

@layer components {
  .badge {
    --bg: #e1e1e1;
    --fg: #303030;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding-block: 0.25em;
    padding-inline: 0.75em;
    font-size: 0.75rem;
    background-color: var(--bg);
    color: var(--fg);
    border-radius: 999px;
    font-weight: bold;
  }

  .button {
    --bg: #333;
    --fg: #fff;
    --border: var(--bg);
    --bg-disabled: #ccc;
    --fg-disabled: #666;
    --border-disabled: var(--bg-disabled);
    --bg-hover: #444;
    --fg-hover: var(--fg);
    --border-hover: var(--bg-hover);
    display: flex;
    align-items: center;
    padding-block: 0.5em;
    padding-inline: 1em;
    block-size: 2.75em;
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.25;
    color: var(--fg);
    background-color: var(--bg);
    border: 1px solid var(--border);
    border-radius: 6px;
    cursor: pointer;
    flex-shrink: 0;
    &:where(.primary) {
      --bg: #007bff;
      --fg: #fff;
      --bg-hover: #0056b3;
      --bg-disabled: #a0ccff;
      --fg-disabled: #f5f8fc;
    }

    &:where(.warning) {
      --bg: hsl(45, 100%, 51%);
      --fg: #212529;
      --bg-hover: hsl(43, 100%, 50%);
      --bg-disabled: #ffeeba;
      --fg-disabled: #f5f8fc;
    }

    &:where(.danger) {
      --bg: #dc3545;
      --fg: #fff;
      --bg-hover: #bd2130;
      --bg-disabled: #f8d7da;
      --fg-disabled: #f5f8fc;
    }

    &:where(.confirm) {
      --bg: #28a745;
      --fg: #fff;
      --bg-hover: #218838;
      --bg-disabled: #d4edda;
      --fg-disabled: #f5f8fc;
    }

    &:where(:hover) {
      background-color: var(--bg-hover);
      color: var(--fg-hover);
      border-color: var(--border-hover);
    }

    &:where(:disabled, [aria-disabled="true"]) {
      background-color: var(--bg-disabled);
      color: var(--fg-disabled);
      border-color: var(--border-disabled);
      cursor: not-allowed;
    }
  }
}

@layer utilities {
  .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
  }
}
